absl-py==2.3.1
accelerate==0.24.1
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1698945915105/work
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
attrs==25.3.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1749229914644/work
cattrs==25.1.1
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560551097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1744743161496/work
coremltools==7.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
datasets==2.14.6
diffusers==0.21.4
dill==0.3.7
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1698674661010/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
flatbuffers==25.2.10
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1751573399021/work
frozenlist==1.7.0
fsspec==2023.10.0
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1745509483149/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
huggingface-hub==0.17.3
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1711242558821/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1686552404404/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1751493948140/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
llvmlite==0.41.1
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1688685076282/work
mediapipe==0.10.7
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.6.3
multiprocess==0.70.15
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numba==0.58.1
numpy==1.26.4
opencv-contrib-python==4.12.0.88
opencv-python==4.8.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.1
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1696149374775/work
propcache==0.3.2
protobuf==3.20.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1695367184494/work
pyaml==25.7.0
pyarrow==20.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1699947534122/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1699546228928/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1693865766170/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytz==2025.2
PyWavelets==1.8.0
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454702303/work
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
safetensors==0.5.3
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1688804630286/work/dist/scikit_image-0.21.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=058300016b0901b4c71fa26536398e1f63b18835a63f5ce4ad32bce0f432da23
SciPy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1700812589137/work/dist/scipy-1.11.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=7f8fc22aa24cb1ee5318d88f2162f00440d915ebd87d725a05a0fccec9246fb9
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sounddevice==0.5.2
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
structlog @ file:///home/conda/feedstock_root/build_artifacts/structlog_1686329715466/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1734094708987/work
tokenizers==0.14.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1748003379534/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
transformers==4.35.0
trimesh==4.0.4
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2025.2
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692555874/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn @ file:///Users/runner/miniforge3/conda-bld/uvicorn-split_1701335049686/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1695410063212/work
xxhash==3.5.0
yarl==1.20.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
